.home-section {
    height: 700px;
    @media screen and (max-width: 768px) {
        height: 900px;
    }
    >h1 {
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
        font-family: $Solveig-Display;
        font-weight: 200;

        >b {
            font-size: 10rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 2rem;
            color: $amarillo;
            font-family: $Solveig-DemiBold;

            text-shadow:
                $negro 1px 0px 0px,
                $negro 0.540302px 0.841471px 0px,
                $negro -0.416147px 0.909297px 0px,
                $negro -0.989992px 0.14112px 0px,
                $negro -0.653644px -0.756802px 0px,
                $negro 0.283662px -0.958924px 0px,
                $negro 0.96017px -0.279415px 0px;
        }
    }
}

.home-catalog {
    display: flex;

    div:nth-child(1) {
        >div{
            position: relative;
            >img {
                clip-path: polygon(100% 0, 88% 0, 84% 5%, 69% 5%, 66% 0, 0 0, 0 43%, 6% 47%, 0 51%, 0 100%, 24% 100%, 28% 93%, 51% 93%, 55% 100%, 100% 100%, 100% 51%, 95% 47%, 100% 44%);
                width: 100%;
                border-radius: 5px;
            }
            .Jayce{
                width: 20%;
                position: absolute;
                top: 91%;
                left: 95%;
                transform: translate(-50%, -50%);
                clip-path: none;
                border-radius: 0px;

            }
        }
    }

    div:nth-child(2) {
        >div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 50px;
            margin-top: 50px;

            >p {
                font-size: 1.7em;
                color: $negro;
                font-family: $SairaCondensed;
                letter-spacing: -1px;
            }

            >button {
                width: 220px;
                height: 50px;
                text-transform: uppercase;
                background-color: $amarillo;
                border: 2px solid $marron;
                border-radius: 5px;
                margin-top: 30px;
                font-family: $Solveig-Display;
                display: flex;
                align-items: center;
                justify-content: center;
                >svg{
                    margin: 0 15px;
                }
            }
        }

    }
}