

// Colour palette //

//first
$blanco: #E9EAEA;
$verde: #A9FC7D;
$rosado: #FF47C1;
$celeste: #0C96D2;
//second
$amarillo: #F3D27D;
$rojo: #8F1A32;
$marron: #491B01;
$azul: #03152B;
$negro: #000000;
// alter
// change opacity
$background-color-opacity: .6;
$rosado2: rgba($rosado, $background-color-opacity);
$celeste2: rgba($celeste, $background-color-opacity+.2);

// typography //

@import "./../base/typography";

$Solveig-Display: 'Solveig Display';
$Solveig-DemiBold: 'Solveig DemiBold';
$SairaCondensed: 'Saira Condensed';

