// Colour palette:

//primera base
$blanco: #E9EAEA;
$verde: #A9FC7D;
$rosado: #FF47C1;
$celeste: #0C96D2;
// segunda base
$amarillo: #F3D27D;
$rojo: #8F1A32;
$marron: #491B01;
$azul: #03152B;
$negro: #000000;
// alter
$rosado2: #FCB2E3;
$celeste2: #7BC6DC;

// typography

@font-face {
    font-family: 'Solveig Display';
    src: url("/src/fonts/solveig/SolveigDisplay.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Solveig DemiBold';
    src: url("/src/fonts/solveig/SolveigDemiBold-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url("/src/fonts/saira-condensed/SairaCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


$Solveig-Display: 'Solveig Display';
$Solveig-DemiBold: 'Solveig DemiBold';
$SairaCondensed: 'Saira Condensed';

