footer {
    overflow: hidden;
    height: 650px;
    background-color: #005E87;
    font-family: $Solveig-Display;

    .footer-center {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .footer-subscribe-form {
        position: absolute;
        width: 400px;
        height: 160px;
        background-color: $amarillo;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        z-index: 3;

        >label {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 30px;

            >p:nth-child(1) {
                >span {
                    color: $rojo;
                    margin: 0 10px;
                }
            }

            >p:nth-child(2) {
                font-size: .65em;

                >span {
                    color: $rojo
                }
            }

        }

        >input {
            display: flex;
            margin: auto;
            width: 240px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $marron;

            &::placeholder {
                color: $marron;
            }

            &:focus {
                outline: none;
            }
        }
    }

    >div {
        height: 450px;
        position: relative;
        overflow: hidden;

        >img {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            bottom: 68%;
        }
    }

    >div>div>div>div {
        display: flex;
        justify-content: center;
        z-index: 3;

        >div {
            display: flex;
            justify-content: center;
            flex-direction: column;

            >h3 {
                color: $blanco;
                font-size: 1.5em;
            }

            >ul {
                margin-top: 10px;

                >li>a {
                    font-family: $SairaCondensed;
                    font-size: 1em;
                    color: rgba($blanco, .7);
                    font-weight: 200;
                }
            }
        }
    }

    .logo-footer {
        display: flex;
        align-items: flex-start;
        margin-bottom: 50px;

        >div>ul {
            >li {
                >a {
                    >img {
                        width: 130px;
                    }

                    >h3 {
                        display: flex;
                        justify-content: center;
                        font-family: $Solveig-Display;
                        font-weight: 200;
                        color: rgba($blanco, .7);
                        font-size: .8em;
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }

    .footer-social {
        >div {
            >div {
                >ul {
                    display: flex;
                    >li {
                        $size: 1.5em;
                        width: $size;
                        height: $size;
                        background-color: $amarillo;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 3px;

                        >a {

                            >svg {
                                display: flex;
                                font-size: 1em;
                                color: $negro;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-copy{
        margin-top: 30px;
        >span{
            font-family: $SairaCondensed;
            color: rgba($blanco, .7);

        }
    }
}