// Solveig Display
@font-face {
    font-family: 'Solveig Display';
    src: url("/src/fonts/solveig/SolveigDisplay.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
// Solveig DemiBold
@font-face {
    font-family: 'Solveig DemiBold';
    src: url("/src/fonts/solveig/SolveigDemiBold-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
// SairaCondensed
@font-face {
    font-family: 'Saira Condensed';
    src: url("/src/fonts/saira-condensed/SairaCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}