@font-face {
  font-family: 'Solveig Display';
  src: url("/src/fonts/solveig/SolveigDisplay.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Solveig DemiBold';
  src: url("/src/fonts/solveig/SolveigDemiBold-Italic.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Saira Condensed';
  src: url("/src/fonts/saira-condensed/SairaCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

hr {
  margin-top: 20px;
  margin-bottom: 20px; }

[role="button"] {
  cursor: pointer; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container2 {
    width: 750px; } }

@media (min-width: 992px) {
  .container2 {
    width: 970px; } }

@media (min-width: 1200px) {
  .container2 {
    width: 1200px; } }

@media (min-width: 1500px) {
  .container2 {
    width: 1500px; } }

.container2-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.row-no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.container2:before,
.container2:after,
.container2-fluid:before,
.container2-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " "; }

.clearfix:after,
.container:after,
.container-fluid:after,
.container2:after,
.container2-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  color: #000000; }

.background-circle {
  background: #86b5cf;
  background: linear-gradient(90deg, #FF47C1 0%, #0C96D2 100%);
  border-radius: 50%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  z-index: -1;
  position: absolute; }

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #DDCAD2;
  height: 80px;
  font-family: "Solveig Display"; }

/* LOGO */
.logo {
  text-align: center;
  display: flex;
  padding-top: 20px; }
  .logo > div {
    padding: 10px; }
    .logo > div > img {
      width: 130px;
      display: flex;
      justify-content: center; }
    .logo > div > h1 {
      font-size: 32px; }
    .logo > div > p {
      font-size: 16px;
      display: flex;
      justify-content: center; }
    @media (min-width: 768px) {
      .logo > div {
        position: absolute;
        top: 0;
        left: 45%; } }
  @media (max-width: 768px) {
    .logo {
      padding-top: 0; } }

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  top: 30px;
  left: 10%;
  position: absolute; }
  .menu > li > a {
    color: #000000; }

.menu-util {
  display: flex;
  gap: 1.2em;
  align-items: center;
  position: absolute;
  right: 10%; }
  .menu-util > li > a {
    color: #000000;
    display: flex; }
    .menu-util > li > a > svg {
      font-size: 30px;
      align-items: center;
      text-align: center; }
    @media (max-width: 768px) {
      .menu-util > li > a > p {
        display: none !important; } }
    .menu-util > li > a > p {
      align-items: center;
      display: flex; }
  @media (max-width: 768px) {
    .menu-util > li {
      left: 70%; } }

/* DROPDOWN MENU */
.services {
  position: relative; }

.dropdown {
  background-color: #018b8b;
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px; }

.dropdown li + li {
  margin-top: 10px; }

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center; }

.dropdown li:hover {
  background-color: #4c9e9e; }

.services:hover .dropdown {
  display: block; }

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none; }

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 2em;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 3; }

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #F3D27D;
    color: #000000;
    right: 0;
    left: 150px;
    top: 0px;
    height: 100%;
    text-align: center;
    padding: 30% 0;
    z-index: 2;
    font-size: 45px; }
  .menu li + li {
    margin-top: 12px; }
  input[type=checkbox]:checked ~ .menu {
    display: block; }
  .hamburger {
    display: block; }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%); } }

footer {
  overflow: hidden;
  height: 600px;
  background-color: #005E87;
  font-family: "Solveig Display"; }
  footer .footer-center {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
  footer .footer-subscribe-form {
    position: absolute;
    width: 400px;
    height: 160px;
    background-color: #F3D27D;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 3; }
    footer .footer-subscribe-form > label {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 30px; }
      footer .footer-subscribe-form > label > p:nth-child(1) > span {
        color: #8F1A32;
        margin: 0 10px; }
      footer .footer-subscribe-form > label > p:nth-child(2) {
        font-size: .65em; }
        footer .footer-subscribe-form > label > p:nth-child(2) > span {
          color: #8F1A32; }
    footer .footer-subscribe-form > input {
      display: flex;
      margin: auto;
      width: 240px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #491B01; }
      footer .footer-subscribe-form > input::placeholder {
        color: #491B01; }
      footer .footer-subscribe-form > input:focus {
        outline: none; }
  footer > div {
    height: 400px;
    position: relative;
    overflow: hidden; }
    footer > div > img {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      bottom: 70%; }
  footer > div > div > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    footer > div > div > div > div > h3 {
      color: #E9EAEA;
      font-size: 1.7em; }
    footer > div > div > div > div > ul {
      margin-top: 10px; }
      footer > div > div > div > div > ul > li > a {
        font-size: 1.1em;
        color: rgba(233, 234, 234, 0.5);
        font-weight: 200; }

.home-section > h1 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Solveig Display";
  font-weight: 200; }
  .home-section > h1 > b {
    font-size: 9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #F3D27D;
    font-family: "Solveig DemiBold";
    text-shadow: #000000 1px 0px 0px, #000000 0.5403px 0.84147px 0px, #000000 -0.41615px 0.9093px 0px, #000000 -0.98999px 0.14112px 0px, #000000 -0.65364px -0.7568px 0px, #000000 0.28366px -0.95892px 0px, #000000 0.96017px -0.27942px 0px; }

.home-catalog div:nth-child(1) {
  display: flex;
  justify-content: center; }
  .home-catalog div:nth-child(1) > img {
    clip-path: polygon(100% 0, 88% 0, 84% 5%, 69% 5%, 66% 0, 0 0, 0 43%, 6% 47%, 0 51%, 0 100%, 24% 100%, 28% 93%, 51% 93%, 55% 100%, 100% 100%, 100% 51%, 95% 47%, 100% 44%);
    width: 100%;
    border-radius: 5px; }
    .home-catalog div:nth-child(1) > img::before {
      clip-path: polygon(100% 0, 88% 0, 84% 5%, 69% 5%, 66% 0, 0 0, 0 43%, 6% 47%, 0 51%, 0 100%, 24% 100%, 28% 93%, 51% 93%, 55% 100%, 100% 100%, 100% 51%, 95% 47%, 100% 44%); }

.home-catalog div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px; }
  .home-catalog div:nth-child(2) > div > p {
    font-size: 1.7em;
    color: #000000;
    font-family: "Saira Condensed";
    letter-spacing: -1px; }
  .home-catalog div:nth-child(2) > div > button {
    width: 220px;
    height: 40px;
    text-transform: uppercase;
    background-color: #F3D27D;
    border: 2px solid #491B01;
    border-radius: 5px;
    margin-top: 30px;
    font-family: "Solveig Display";
    display: flex;
    align-items: center;
    justify-content: center; }
    .home-catalog div:nth-child(2) > div > button > svg {
      margin: 0 15px; }

.home-section-clothes {
  margin-top: 100px; }
  .home-section-clothes > h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: "Solveig Display"; }
  .home-section-clothes > div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .home-section-clothes > div > div {
      margin: 30px;
      display: flex; }
  .home-section-clothes .img-home-border > div:nth-child(1),
  .home-section-clothes .img-home-border div:nth-child(2),
  .home-section-clothes .img-home-border div:nth-child(3),
  .home-section-clothes .img-home-border div:nth-child(4),
  .home-section-clothes .img-home-border div:nth-child(5) {
    overflow: hidden;
    display: inline-block;
    position: relative;
    background: black;
    box-sizing: border-box;
    clip-path: polygon(100% 0, 7% 0, 7% 25%, 0 34%, 0 100%, 100% 100%, 100% 89%, 94% 85%, 94% 62%, 100% 56%);
    width: 210.6px;
    height: 365.4px; }
    .home-section-clothes .img-home-border > div:nth-child(1) > img,
    .home-section-clothes .img-home-border div:nth-child(2) > img,
    .home-section-clothes .img-home-border div:nth-child(3) > img,
    .home-section-clothes .img-home-border div:nth-child(4) > img,
    .home-section-clothes .img-home-border div:nth-child(5) > img {
      position: absolute;
      background: #E9E9E9;
      top: 2px;
      left: 2px;
      width: 206.6px;
      height: 361.4px;
      clip-path: polygon(100% 0, 7% 0, 7% 25%, 0 34%, 0 100%, 100% 100%, 100% 89%, 94% 85%, 94% 62%, 100% 56%); }
    .home-section-clothes .img-home-border > div:nth-child(1) > span,
    .home-section-clothes .img-home-border div:nth-child(2) > span,
    .home-section-clothes .img-home-border div:nth-child(3) > span,
    .home-section-clothes .img-home-border div:nth-child(4) > span,
    .home-section-clothes .img-home-border div:nth-child(5) > span {
      font-family: "Solveig Display";
      color: #FF47C1; }
    .home-section-clothes .img-home-border > div:nth-child(1) > span:nth-child(2),
    .home-section-clothes .img-home-border div:nth-child(2) > span:nth-child(2),
    .home-section-clothes .img-home-border div:nth-child(3) > span:nth-child(2),
    .home-section-clothes .img-home-border div:nth-child(4) > span:nth-child(2),
    .home-section-clothes .img-home-border div:nth-child(5) > span:nth-child(2) {
      position: absolute;
      top: 89%;
      left: 80%;
      font-size: 1.8em; }
    .home-section-clothes .img-home-border > div:nth-child(1) > span:nth-child(3),
    .home-section-clothes .img-home-border div:nth-child(2) > span:nth-child(3),
    .home-section-clothes .img-home-border div:nth-child(3) > span:nth-child(3),
    .home-section-clothes .img-home-border div:nth-child(4) > span:nth-child(3),
    .home-section-clothes .img-home-border div:nth-child(5) > span:nth-child(3) {
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      font-size: 2em;
      text-transform: uppercase; }
  .home-section-clothes .img-home-border > div:nth-child(2) {
    width: 366.6px;
    height: 365.4px; }
    .home-section-clothes .img-home-border > div:nth-child(2) > img {
      width: 362.6px;
      height: 361.4px; }
    .home-section-clothes .img-home-border > div:nth-child(2) > span {
      font-family: "Solveig Display";
      color: #FF47C1; }
    .home-section-clothes .img-home-border > div:nth-child(2) > span:nth-child(2) {
      position: absolute;
      top: 89%;
      left: 82%; }
    .home-section-clothes .img-home-border > div:nth-child(2) > span:nth-child(3) {
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      font-size: 2em;
      text-transform: uppercase; }
  .home-section-clothes .img-home-border > div:nth-child(3) {
    clip-path: none;
    width: 270.6px;
    height: 365.4px; }
    .home-section-clothes .img-home-border > div:nth-child(3) > img {
      width: 266.6px;
      height: 361.4px;
      clip-path: none; }
    .home-section-clothes .img-home-border > div:nth-child(3) > span {
      font-family: "Solveig Display";
      color: #FF47C1; }
    .home-section-clothes .img-home-border > div:nth-child(3) > span:nth-child(2) {
      position: absolute;
      top: 89%;
      left: 85%; }
    .home-section-clothes .img-home-border > div:nth-child(3) > span:nth-child(3) {
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      font-size: 2em;
      text-transform: uppercase; }
  .home-section-clothes .img-home-border > div:nth-child(4),
  .home-section-clothes .img-home-border div:nth-child(5) {
    width: 384px;
    height: 384px; }
    .home-section-clothes .img-home-border > div:nth-child(4) > img,
    .home-section-clothes .img-home-border div:nth-child(5) > img {
      width: 380px;
      height: 380px; }
    .home-section-clothes .img-home-border > div:nth-child(4) > span,
    .home-section-clothes .img-home-border div:nth-child(5) > span {
      font-family: "Solveig Display";
      color: #FF47C1; }
    .home-section-clothes .img-home-border > div:nth-child(4) > span:nth-child(2),
    .home-section-clothes .img-home-border div:nth-child(5) > span:nth-child(2) {
      position: absolute;
      top: 89%;
      left: 82%; }
    .home-section-clothes .img-home-border > div:nth-child(4) > span:nth-child(3),
    .home-section-clothes .img-home-border div:nth-child(5) > span:nth-child(3) {
      transform: rotate(-90deg);
      position: absolute;
      top: 50%;
      font-size: 2em;
      text-transform: uppercase; }
  .home-section-clothes > button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: #F3D27D;
    border: 2px solid #491B01;
    border-radius: 5px;
    margin-top: 30px;
    font-family: "Solveig Display";
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    margin: auto; }
    .home-section-clothes > button > svg {
      margin: 0 20px; }

.home-section-deco {
  margin-top: 100px; }
  .home-section-deco::before {
    overflow: hidden;
    width: 1100px;
    height: 1100px;
    background: linear-gradient(70deg, rgba(255, 71, 193, 0.6) 0%, rgba(12, 150, 210, 0.8) 100%);
    border-radius: 50%;
    filter: blur(130px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
    text-align: center;
    z-index: -1; }
  .home-section-deco::after {
    overflow: hidden;
    width: 1100px;
    height: 1100px;
    background: linear-gradient(180deg, transparent 0%, #A9FC7D 100%);
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 170%);
    text-align: center;
    z-index: -1; }
  .home-section-deco > h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: "Solveig Display"; }
  .home-section-deco .img-home-deco {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .home-section-deco .img-home-deco > div {
      margin: 30px;
      display: flex; }
    .home-section-deco .img-home-deco > div:nth-child(1),
    .home-section-deco .img-home-deco div:nth-child(2) {
      overflow: hidden;
      display: inline-block;
      position: relative;
      background: #A48E83;
      box-sizing: border-box;
      clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%);
      width: 210.6px;
      height: 365.4px;
      border-right: 2px solid #A48E83; }
      .home-section-deco .img-home-deco > div:nth-child(1) > div,
      .home-section-deco .img-home-deco div:nth-child(2) > div {
        position: absolute;
        background: #E9E9E9;
        top: 2px;
        left: 2px;
        clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%); }
        .home-section-deco .img-home-deco > div:nth-child(1) > div > img,
        .home-section-deco .img-home-deco div:nth-child(2) > div > img {
          width: 140%;
          display: flex;
          justify-content: center;
          align-items: center; }
      .home-section-deco .img-home-deco > div:nth-child(1) > span,
      .home-section-deco .img-home-deco div:nth-child(2) > span {
        display: flex;
        justify-content: center;
        font-family: "Solveig Display";
        color: #000000;
        position: absolute;
        top: 89%;
        left: 80%;
        font-size: 1.4em;
        background-color: #E9E9E9;
        border: 1px solid #000000;
        border-radius: 5px;
        width: 1.4em;
        font-weight: bold; }
    .home-section-deco .img-home-deco > div:nth-child(2) {
      background: none;
      width: 320px;
      height: 487.2px;
      clip-path: none;
      border: none; }
      .home-section-deco .img-home-deco > div:nth-child(2) > div {
        clip-path: polygon(100% 0, 0 0, 0 28%, 8% 34%, 8% 73%, 0 79%, 0 100%, 100% 100%); }
        .home-section-deco .img-home-deco > div:nth-child(2) > div > img {
          width: 110%;
          display: flex;
          justify-content: center;
          align-items: center; }
  .home-section-deco .img-home-deco2 > div:nth-child(1) {
    background: none;
    width: 320px;
    height: 487.2px;
    border: 2px solid #A48E83;
    clip-path: none;
    top: 0; }
    .home-section-deco .img-home-deco2 > div:nth-child(1) > div {
      top: 0;
      clip-path: none; }
      .home-section-deco .img-home-deco2 > div:nth-child(1) > div > img {
        width: 110%; }
  .home-section-deco .img-home-deco2 > div:nth-child(2) {
    position: relative;
    background: #A48E83;
    clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%);
    width: 264.6px;
    height: 365.4px;
    border-right: 2px solid #A48E83;
    border-bottom: 2px solid #A48E83; }
    .home-section-deco .img-home-deco2 > div:nth-child(2) > div {
      position: absolute;
      background: #E9E9E9;
      bottom: 0px;
      left: 2px;
      clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%); }
      .home-section-deco .img-home-deco2 > div:nth-child(2) > div > img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
    .home-section-deco .img-home-deco2 > div:nth-child(2) > span {
      display: flex;
      justify-content: center;
      font-family: "Solveig Display";
      color: #000000;
      position: absolute;
      top: 89%;
      left: 80%;
      font-size: 1.4em;
      background-color: #E9E9E9;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 1.4em;
      font-weight: bold; }
  .home-section-deco button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: #F3D27D;
    border: 2px solid #491B01;
    border-radius: 5px;
    margin-top: 30px;
    font-family: "Solveig Display";
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    margin: auto; }
    .home-section-deco button > svg {
      margin: 0 20px; }

.home-section-other {
  margin-top: 100px; }
  .home-section-other > h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: "Solveig Display"; }
  .home-section-other .img-home-other {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .home-section-other .img-home-other > div {
      margin: 30px;
      display: flex; }
    .home-section-other .img-home-other > div:nth-child(1),
    .home-section-other .img-home-other div:nth-child(2) {
      overflow: hidden;
      display: inline-block;
      position: relative;
      background: #A48E83;
      box-sizing: border-box;
      clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%);
      width: 210.6px;
      height: 365.4px;
      border-right: 2px solid #A48E83; }
      .home-section-other .img-home-other > div:nth-child(1) > div,
      .home-section-other .img-home-other div:nth-child(2) > div {
        position: absolute;
        background: #E9E9E9;
        top: 2px;
        left: 2px;
        clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%); }
        .home-section-other .img-home-other > div:nth-child(1) > div > img,
        .home-section-other .img-home-other div:nth-child(2) > div > img {
          width: 140%;
          display: flex;
          justify-content: center;
          align-items: center; }
      .home-section-other .img-home-other > div:nth-child(1) > span,
      .home-section-other .img-home-other div:nth-child(2) > span {
        display: flex;
        justify-content: center;
        font-family: "Solveig Display";
        color: #000000;
        position: absolute;
        top: 89%;
        left: 80%;
        font-size: 1.4em;
        background-color: #E9E9E9;
        border: 1px solid #000000;
        border-radius: 5px;
        width: 1.4em;
        font-weight: bold; }
    .home-section-other .img-home-other > div:nth-child(2) {
      background: none;
      width: 320px;
      height: 487.2px;
      clip-path: none;
      border: none; }
      .home-section-other .img-home-other > div:nth-child(2) > div {
        clip-path: polygon(100% 0, 0 0, 0 28%, 8% 34%, 8% 73%, 0 79%, 0 100%, 100% 100%); }
        .home-section-other .img-home-other > div:nth-child(2) > div > img {
          width: 110%;
          display: flex;
          justify-content: center;
          align-items: center; }
  .home-section-other .img-home-deco2 > div:nth-child(1) {
    background: none;
    width: 320px;
    height: 487.2px;
    border: 2px solid #A48E83;
    clip-path: none;
    top: 0; }
    .home-section-other .img-home-deco2 > div:nth-child(1) > div {
      top: 0;
      clip-path: none; }
      .home-section-other .img-home-deco2 > div:nth-child(1) > div > img {
        width: 110%; }
  .home-section-other .img-home-deco2 > div:nth-child(2) {
    position: relative;
    background: #A48E83;
    clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%);
    width: 264.6px;
    height: 365.4px;
    border-right: 2px solid #A48E83;
    border-bottom: 2px solid #A48E83; }
    .home-section-other .img-home-deco2 > div:nth-child(2) > div {
      position: absolute;
      background: #E9E9E9;
      bottom: 0px;
      left: 2px;
      clip-path: polygon(100% 0, 0 0, 0 34%, 8% 40%, 8% 80%, 0 86%, 0 100%, 100% 100%); }
      .home-section-other .img-home-deco2 > div:nth-child(2) > div > img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
    .home-section-other .img-home-deco2 > div:nth-child(2) > span {
      display: flex;
      justify-content: center;
      font-family: "Solveig Display";
      color: #000000;
      position: absolute;
      top: 89%;
      left: 80%;
      font-size: 1.4em;
      background-color: #E9E9E9;
      border: 1px solid #000000;
      border-radius: 5px;
      width: 1.4em;
      font-weight: bold; }
  .home-section-other > button {
    width: 150px;
    height: 40px;
    background: linear-gradient(45deg, #FF47C1 0%, #0C96D2 100%);
    text-transform: uppercase;
    background-color: #F3D27D;
    border: 2px solid #491B01;
    border-radius: 5px;
    margin-top: 30px;
    font-family: "Solveig Display";
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    margin: auto; }
    .home-section-other > button > svg {
      margin: 0 15px; }
