// Variables/Utility
@import "./components/variables";
@import './components/boostrap-grid';
//body
@import "./base/body";
// Header
@import './base/header';
//home
@import './components/home';
@import './components/clothes';